// Customizations Here (Optional)

// Bulma Import
@import '~bulma';

:root {
    --lightest-grey: #F2F2F2;
    --light-grey: #CECDCD;
    --grey: #B3B2B2;
    --dark-grey: #808080;
    --darkest-grey: #474745;
    --red: #B3B2B2;
    --blue: #B3B2B2;
    --blue-opac: #CECDCD;
    --blue-opac-mid: #B3B2B2;
    --green:#ffd500;
    --green-button: #B3B2B2;
    --orange: #B3B2B2;
    --orange-opac: #CECDCD;
    --orange-opac-mid: #B3B2B2;
    --grey-opac: rgba(179,178,178, 0.3);
    --grey-opac-mid: rgba(179,178,178, 0.6);
}